<style>
  body {
    background: white;
  }

  .header {
    text-align: center;
    padding-top: 200px;
    font-size: 75px;
    color: #00E467;
    font-weight: 500;
  }

  .bright_logo {
    width: 150px;
  }
</style>


<div class="header">
  <%= image_tag("bright_green_logo.png", class:"bright_logo") %><br>
  Flock
</div>