@import "bourbon";
@import "neat";
$break_one: new-breakpoint(max-width 1050px);
$break_two: new-breakpoint(max-width 880px);
$break_three: new-breakpoint(max-width 732px);
$break_four: new-breakpoint(max-width 585px);

// colors

$green: #6A9E69;
$lightGreen: #CDDDCB;
$brown: #555555;
$lightBrown: #9A948A;

.mobile{
 display: none;
}

.new-blog {

  position: absolute;
  right: 80px;
  top: 50px;
  font-family: "proxima-nova", "sans-serif";
  font-style: italic;
  font-weight: 500;
  color: $green;
  font-size: 1.3em;
  text-align: center;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1.0s;
  a {
    text-decoration: none;
    color: $green;
    &:hover {
    color: $green;
    }
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}


.container-1 {
  width: 100%;
  height: 150px;
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 12px;
  div{
    border-radius: 100px;
    background: #CEDCCC;
    width: 125px;
    height: 125px;
    margin: 0 auto;
    img {
      margin-top: 8px;
    }
  }
}

.text {

  input[type=text]{
      font-family: "brandon-grotesque", "sans-serif";
      font-size: 25px;
      font-weight: 300;
      text-align: center;
   
      /* Size and position */
      width: 100%;
      padding: 10px 18px 10px 10px;
   
      /* Styles */
      border: 2px solid $lightGreen;
      border-radius: 3px ;
      background: #f9f9f9;
      color: $brown;
      transition: color 0.3s ease-out;

      &:active, &:focus {
        outline: none;
        border: 2px solid $green;
      }
  }


  input[type=submit] {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    padding: 15px 0px;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    outline: none;
    position: relative;

    background: $green;
    box-shadow: 0 6px #527a52;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    font-family: "proxima-nova", "sans-serif";
    font-style: italic;
    font-weight: 800;
    font-size: 1.2em;
    color: white;

    border-radius: 0 0 5px 5px;

    &:hover{
    box-shadow: 0 4px #527a52;
    top: 2px;
    }

    &:active{
      box-shadow: 0 0 #527a52;
      top: 6px;
    }

  }
}




.container-2 {
  width: 100%;
  height: 450px;
  background-color: #FFF;
  // background: url(unsplash_1.jpg) no-repeat center center;
  // background-size: 100% auto;
  text-align: center;
  @include media($break_four) {
    height: 300px;
  }

  div.header_div {
    @include outer-container;
    padding-top: 90px;
    @include media($break_four) {
      padding-top: 80px;
    }
    div.link-subtext {
      font-size: 1.5em; 
      margin-top: 15px;
      font-weight: 300;
      color: $green;
    }
    div {
      font-family: "brandon-grotesque", "sans-serif";
      font-size: 4.3em;
      color: $brown; 
      line-height: 110%; 
      font-weight: 100;
      // background: blue;
      @include media($break_one) {
        font-size: 3.6em;
        padding-top: 10px; 
      }
      @include media($break_two) {
        font-size: 3em;
        padding-top: 20px; 
      }
      @include media($break_three) {
        font-size: 2.4em;
        padding-top: 30px;
      }
      @include media($break_four) {
        line-height: 120%;
        font-size: 1.8em;
        padding-top: 0px;
        font-weight: 300;
      }
    }
  }
}

#button-adam {
  width: 300px;
  margin: 0 auto;
  height: 65px;
  background-color: $green;
  float: center;
  margin-top: 20px;
  @include media($break_four) {
    width:70%;
    border-radius: 50px;
  }
  div {
    padding-top: 17px; 
  }
  a {
    font-family: "proxima-nova", "sans-serif";
    font-style: italic;
    font-weight: 800;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    @include media($break_four) {
      font-size: 1.0em;
      padding-top: 5px;
    }
  }
}

.container-3 {
  h1.hiw_header {
    font-size: 2.5em;
    font-family: "proxima-nova", "sans-serif";
    font-weight: 700;
    font-style: italic; 
    color: #92B996;
    text-align: center;
    padding-top: 120px;
    @include media($break_one) {
      font-size: 2em;
    }
    @include media($break_three) {
      font-size: 1.7em;
    }
    @include media($break_three) {
      padding-top: 60px;
    }
  }
  width: 100%;
  height: 650px;
  background-color: #CDDDCB;
  @include media($break_four) {
    height: 180px;
  }

  div {
    @include outer-container;
    padding-top: 40px;
    @include media($break_four) {
      padding-top: 0px;
    }
    li {
      text-align: center;
      @include span-columns(3);
      @include omega(4n);
      // background-color: blue;
      @include media($break_three) {
        .how_it_works_pic {
          width: 100px;
          height: 100px;
        }
      }
      @include media($break_four) {
        @include span-columns(12);
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
    h1 {
      font-size: 2em;
      font-family: "proxima-nova", "sans-serif";
      font-family: "brandon-grotesque", "sans-serif";
      font-style: normal; 
      font-weight: 100;
      color: $green;
      padding-top: 5px;
      line-height: 100%;
      margin: 0;
      @include media($break_four) {
        font-weight: 300;
      }
    }
  }
}

.container-4 {
  width: 100%;
  height: 800px;
  background-color: #F2F2F2; 
  padding-top: 80px;
  text-align: center;
  @include media($break_four) {
    padding-top: 20px;
    height: 575px;
  }
}

.container-5 {
  width: 100%;
  height: 800px;
  background-color: $lightGreen; 
  padding-top: 80px;
  text-align: center;
  @include media($break_four) {
    padding-top: 20px;
    height: 575px;
  }
}

.pics {
  margin: 0 auto;
}

.screenshots {
  width: 302px;
  height: 636px;
  float: left;
  @include media($break_four) {
    width: 173px;
    height: 363px;
    padding-bottom: 30px;
  }
}

.screenshot_captions {
  margin-left: 100px;
  padding-bottom: 300px;
  float: left;
  padding-top: 220px;
  line-height: 1.3em;
  font-family: "brandon-grotesque", "sans-serif";
  font-weight: 100;
  font-size: 2.3em;
  color: $lightBrown;
  text-align: left;
}

.mobile_screenshot_header {
  font-family: "brandon-grotesque", "sans-serif";
  font-weight: 300;
  color: $brown; 
}

.double-line {
  line-height: 110%;
}

.caption_header {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "brandon-grotesque", "sans-serif";
  color: $brown;
  line-height: 140%;
}

.green-theme {
  color: $green;
}

.caption_emphasize {
  font-size: 1.3em;
  font-weight: 400;
  font-style: italic;
} 

.container-6 {
  background: $lightGreen;
  text-align: center;
  height: 430px;
  padding-top: 100px;
  @include media($break_four) {
    height: 375px;
  }
}

.link-subtext {
  color: $green;
  font-size: 2.5em;
  font-weight: 100;
  font-family: "brandon-grotesque", "sans-serif";
}

.share_div {
  text-align: center;
  margin-top: 90px;
}

.share-button {
  text-align: center;
  margin: 0 auto;
}

.container-7 {
  background: #F2F2F2;
  text-align: center;
  height: 80px;
  @include media($break_four) {
    height: 110px;
  }
}

.copyright {
  float: left;
  margin-left: 30px;
  margin-top: 35px;
  color: $lightBrown;
  @include media($break_four) {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
  }
}

.social-icons {
  margin-right: 20px;
  float: right;
  a{
    text-decoration: none;
  }
  @include media($break_four) {
    text-align: center;
    float: none;
    margin: 0;
  }

}

.ib-social-icons {
  margin-top: 25px;
  font-size: 35px;
  padding: 0 10px;
  color: $lightBrown; 
  &:hover {

  }
} 

.icon-facebook, .icon-twitter, .icon-envelope {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-facebook:hover {
  color: #3B5998;
}

.icon-twitter:hover {
  color: #06ADE8;
}

.icon-envelope:hover {
  color: $green;
}

@include media($break_four) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

.copyright a {
  color: $lightBrown; 
  text-decoration: none;
  &:hover {
    color: $brown; 
  }
}

.legal_docs {
  color: $brown;
  padding: 15px 60px;
  h1{
    text-align: center;
  }
  @include media($break_four) {
    padding: 15px 10px;
  }
}

